.home {
  display: grid;
  grid-template-rows: 1fr auto auto;
  height: 100vh;
}
.roulette iframe {
  width: 100%;
  height: 280px;
  border: 0;
}
.cards {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.input {
  display: flex;
  justify-content: center;
  gap: 10px;
}
