:root{
  --bg0:#06070a;
  --bg1:#0b0f14;
  --glass: rgba(255,255,255,.06);
  --glass2: rgba(255,255,255,.10);
  --stroke: rgba(255,255,255,.12);

  --green:#00e18a;
  --green2:#0aa86a;
  --gold:#ffcc66;
  --gold2:#d4a64a;

  --text:#e7edf5;
  --muted:#a5b0c2;

  --shadow: 0 18px 60px rgba(0,0,0,.55);
  --shadow2: 0 10px 30px rgba(0,0,0,.45);

  --radius: 18px;
  --radius2: 22px;
  --gap: 14px;
}
