body { font-family: Arial; background-color: #111; color: #eee; }
#live-roulette { border: 2px solid #f90; padding: 10px; margin: 10px; }
#history { border: 2px solid #09f; padding: 10px; margin: 10px; }
#strategies { border: 2px solid #0f9; padding: 10px; margin: 10px; }